@font-face {
  font-family: "aicon";
  src: url("../FOnts/aicon/AICON-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aicon";
  src: url("../FOnts/aicon/AICON-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "aicon";
  src: url("../FOnts/aicon/AICON-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "poppins-regular";
  src: url("../FOnts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../FOnts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --raisin-black: #22242eff;
  --majorelle-blue: #6745fdff;
  --aquamarine: #0be5baff;
  --tomato: #ff5f4aff;
  --orange-web: #ffa600ff;
  --dim-gray: #707070ff;
  --white: #ffffffff;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--raisin-black);
  color: var(--white);
  font-family: "poppins-regular";
  cursor: url("../Resources/icons/SVG/10x10-cursor.svg"), auto;
  overflow-x: hidden;
}

/* ------------------------------------ Navbar -------------------------------------------- */

.navbar {
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  z-index: 9;
  animation: slideDown 1.5s ease forwards;
  animation-delay: 0.3s;
}

.navbar > h1 {
  font-size: clamp(
    0.6rem,
    0.1vw,
    1rem
  ); /* min 1rem, scales with viewport width, max 1.5rem */
  letter-spacing: 0.15rem;
  font-family: aicon;
}
.active-navlink {
  color: var(--tomato) !important;
}
.nav-links {
  display: none;
}
.large-nav-links {
  display: flex;
  gap: 5rem;
}
.large-nav-links > a {
  font-size: clamp(
    0.9rem,
    0.8vw,
    1.25rem
  ); /* min 0.9rem, scales, max 1.25rem */
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.15rem;
  transition: color 0.4s ease-in-out;
}
.large-nav-links > a:hover {
  color: var(--tomato);
}
.call-btn a {
  font-size: clamp(
    0.5rem,
    0.8vw,
    1.25rem
  ); /* min 0.9rem, scales, max 1.25rem */
  text-decoration: none;
  color: var(--white);
}
.call-btn {
  border-radius: 50px;
  padding: 0.2rem 1rem;
  border: 1px solid var(--tomato);
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-btn {
  display: none;
}
.call-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--tomato);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

/* --------------------------------------- About Section ------------------------------------ */
.about-intro-section {
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  padding: 1.2rem 1rem;
  height: 100vh;
}
.intro-section-head-secition {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.intro-section-head-secition > h1 {
  font-size: 7rem;
  line-height: 5rem;
}
.intro-section-head-secition > h3 {
  width: 40%;
  font-size: 1.5rem;
}
.intro-section-head-secition > h3 > span {
  color: var(--orange-web);
}
.intro-section-head-img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #fee7d3;
}
.intro-section-head-img > img {
  height: 90%;
  object-fit: cover;
  object-position: center;
}

.about-section {
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.about-section > h1 {
  font-size: 5rem;
  font-weight: 900;
  width: 10%;
  line-height: 4.5rem;
  margin-left: 5rem;
}
.about-section > h1 > span {
  color: transparent;
  -webkit-text-stroke: 0.2px var(--white);
}
.team-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -160px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: -30px;
  top: -20px;
  width: 500px;
}
.img2 {
  left: -60px;
  top: 30px;
  width: 800px;
}
.img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.divider {
  background-color: #ca6060;
  height: 3px;
  width: 160px;
}
.name {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: var(--tomato);
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}
.description {
  color: var(--dim-gray);
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
  text-align: center;
}
.vision-section {
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  padding: 1.2rem 4rem;
  background: #22242eff;
  background: linear-gradient(
    -90deg,
    rgba(34, 36, 46, 1) 2%,
    var(--orange-web) 60%
  ),url('../Resources/ProfileImages/SVG/noise.svg');
  height: 50vh;
  border-radius: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  flex-direction: column;
  /* Boost contrast and brightness for a grainier look */
  /* Make sure the noise covers everything */
}

.vision-section>h1{
  font-size:4rem;
  font-family: aicon;
  color: var(--raisin-black);

}
.vision-section>h4{
  color: var(--raisin-black);
  width: 80%;
}

/* ------------------- Testimonials ---------------------------------------------------------- */



/* Testimonial Section */
.testimonial-section {
  margin-top: 10rem;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.testimonial-section>h1{
  width: 100%;
  padding-left: 5rem;
  margin-bottom: 5rem;
  font-family: aicon;
  font-size: 2rem;
    background: linear-gradient(-45deg, #e8cbc0, #636fa4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.testimonial-container {
  width: 100%;
  max-width: 56rem;
  padding: 2rem;
}
.testimonial-grid {
  display: grid;
  gap: 5rem;
}
.image-container {
  position: relative;
  width: 100%;
  height: 24rem;
  perspective: 1000px;
}
.testimonial-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5f4a;
  margin-bottom: 0.25rem;
  font-family: aicon;
}
.designation {
  font-size: 0.875rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.quote {
  font-size: 1.125rem;
  color: #707070;
  line-height: 1.75;
  position: relative;
}
.quote::before {
  content: "“";
  position: absolute;
  left: -24px;
  top: -30px;
  font-size: 55px;
  color: #707070;
  font-family: fantasy;
}
.quote::after {
  content: "”";
  position: absolute;
  right: -14px;
  bottom: -42px;
  font-size: 55px;
  color: #707070;
  font-family: fantasy;
}
.arrow-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
}
.arrow-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}
.arrow-button svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #f1f1f7;
  transition: transform 0.3s;
}
.arrow-button:hover svg {
  fill: #ffffff;
}
.prev-button:hover svg {
  transform: rotate(-12deg);
}
.next-button:hover svg {
  transform: rotate(12deg);
}

.testimonial-grid {
  grid-template-columns: 1fr 1fr;
}
.arrow-buttons {
  padding-top: 0;
}


/* ----------------------------- Footer -------------------------- */



.footer {
  margin-top: 15rem;
  z-index: 1;
  --footer-background: #ff5f4a ;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 30vh;
 
}

.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
 .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
  
}

.content-section{
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  
}
.content-section> .title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  /* flex-direction: column; */

}
.content-section> .title>h2{
  width: 30%;
  font-size: 1.2rem;
  color: var(--white);

}
.content-section>.title>h1{
  width: 60%;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "aicon";
  color: var(--white);
}
.content-section> .mail{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 0.5rem;
  /* background-color: var(--white); */
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease, color 0.5s ease;


}
.content-section> .mail:hover{
  background-color: #fff;
}
.content-section> .mail:hover >p{
   color: #ff5f4a;
}
.content-section> .mail >p{
  color: var(--white);
}
.content-section> .contact{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 0.5rem;
  /* background-color: var(--white); */
  justify-content: center;
  text-decoration: none;
  margin-top: 1rem;
  transition: all 0.5s ease, color 0.5s ease;

}
.content-section> .contact:hover{
  background-color: #fff;
}
.content-section> .contact:hover >p{
   color: #ff5f4a;
}
.content-section> .contact >p{
  color: var(--white);
}



@-webkit-keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}


















@media (max-width: 767px) {
  /* Styles for mobile phones and smaller tablets */
  .navbar {
    position: relative;
    z-index: 3;
  }
  .large-nav-links {
    display: none;
  }
  .navbar > h1 {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    letter-spacing: 0.15rem;
    width: 50%;
  }
  .open-btn {
    display: block;
    background-color: transparent;
    border: 0px;
  }
  .open-btn img {
    width: 1.2rem;
  }
  .call-btn {
    padding: 0.1rem 0.5rem;
    text-align: center;
  }
  .call-btn a {
    font-size: clamp(0.5rem, 1vw, 1.25rem);
  }

  .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--orange-web);
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem 2rem;
    width: 60vw;
    height: 100vh;
    align-items: end;
    z-index: 9;
  }
  .nav-links > a {
    text-decoration: none;
    color: var(--white);
  }
  .nav-links > button {
    background-color: transparent;
    border: 0px;
  }
  .nav-links > button > img {
    width: 1.2rem;
  }
  .hamburger-btn-section {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}
