@font-face {
  font-family: Golden;
  src: url("../FOnts/golden-girdle/Golden\ Girdle.otf");
}
@font-face {
  font-family: lato;
  src: url("../FOnts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Enfatica;
  src: url("../FOnts/Enfatica.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
  --scarlet: #fe2500ff;
  --electric-indigo: #5901edff;
  --black: #000000ff;
  --white: #fefffeff;
  --xanthous: #febc47ff;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.navbar {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  position: relative;
  z-index: 5;
  background-color: var(--white);
}
.nav {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.logo-menu {
  width: fit-content;
  display: flex;
  gap: 4rem;
  cursor: pointer;
  /* background-color: yellowgreen; */
  align-items: center;
}
.logo-name {
  display: flex;
  width: 3rem;
  text-align: left;
}
.nav-logo-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.logo-name > span {
  /* padding-top: 1rem; */
  font-size: 3rem;
  line-height: 1rem;
  margin-right: 3px;
}
.logo-name > h1 {
  font-size: 1em;
}
.nav-links {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links > a > img {
  margin: 1rem;
}
.opacity {
  opacity: 0;
}
.nav-links > a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.small-nav {
  z-index: 9;
  background-color: var(--white);
  width: 100vw;
  height: 300vh;
  overflow: hidden;
  position: fixed;
  top: 7rem;
  left: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0rem 5rem;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.small-nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  padding-top: 3rem;
}
.small-nav-links > a {
  text-decoration: none;
  color: black;
  /* font-family: Golden; */
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
.small-nav-links > a:hover{
  color: var(--xanthous);
}
.tagline {
  /* background-color: yellowgreen; */
  width: 50%;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tagline > div > h3 {
  text-align: end;
  /* margin-bottom: 2rem; */
}
.tagline > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.tagline > div > h4 {
  background-color: var(--xanthous);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.tagline > div > h4::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 110%; /* Adjust horizontal position as needed */
  transform: translateY(-0%, -50%);
  rotate: 30deg;
  width: 150px;
  height: 50px;
  background-image: url("../Resources/icons/Arrow.svg"); /* Replace with your image path */
  background-size: contain;
  background-repeat: no-repeat;
}
.tagline > div > a {
  /* text-decoration: none; */
  color: #ff2c02;
  text-align: start;
}
.menu-icon {
  background-image: url(../Resources/icons/open-menu\ icon.svg);
  width: 25px;
  height: 25px;
  transition: background-image 0.5s;
}

.menu-icon.active {
  background-image: url(../Resources/icons/close-menu\ icon.svg);
}

.small-nav {
  height: 0rem;
  overflow: hidden;
  transition: height 2s cubic-bezier(0.4, 0, 0.2, 1);
  /* Add your other styles here */
}

.small-nav.active {
  height: 90vh;
}

/* ------------------------- Hero Section ---------------------------------------------- */
.hero {
  width: 100%;
  padding: 2rem 5rem;
  
}
.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  background: #fff;
}

.ticker {
  display: flex;
  width: max-content;
  animation: ticker-scroll 12s linear infinite;
}

.ticker-group {
  display: flex;
  align-items: center;
  margin-right: 4rem; /* Space between repeats */
}

.main-title {
  color: #ff2c02;
  font-size: 6rem;
  font-family: Golden, sans-serif;
  font-weight: bold;
  margin-right: 2rem;
}

.ticker-span {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--electric-indigo, #6610f2);
  border-radius: 10px;
  padding: 1rem 2rem 1.5rem 2rem;
}

.sub-title {
  color: #fff;
  font-family: Enfatica;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1;
}
.hero-title {
  width: 100%;
  height: 20rem;
  background-color: #000;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-title>img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 90%;
  opacity: 0.3;
}
.hero-info-div{
  z-index: 4;
  /* padding: 2rem 0rem; */
  color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-info-div>h1,.hero-info-div>h1>span{
  font-size: 5rem;
  font-family: Enfatica;
  letter-spacing: 0.4rem;
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 1rem;
}
.hero-info-div>h1>span{
  color: var(--scarlet);
}
.hero-info-div>p{
  width: 50%;
  text-align: justify;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 800;
}
.hero-img-section{
  width: 100%;
  background-color: var(--scarlet);
  height: 50vh;
  border-radius: 1rem;
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.hero-img-section>img{
  height: 50rem;
  position: absolute;
  bottom: 0%;
  right: -12%;
  transform: translate(0%,0%);
  z-index: 0;
}
.hero-section-img-info-box{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 70%;
  padding: 2rem;
}

.hero-section-img-info-box>h1{
  font-size: 8rem;
  line-height: 7rem;
  font-family: Enfatica;
  color: var(--white);
}
.hero-section-img-info-box>h1>span{
  color: var(--xanthous);
  font-family: Enfatica;
}
.hero-section-img-info-box>div>p{
  color: var(--white);
  margin-bottom: 2rem;
}
.hero-section-img-info-box>div>div{
  background-color: var(--black);
  border-radius: 50px;
  height: fit-content;
  width:fit-content;
  padding: 1rem 2rem;
}
.hero-title-info{
  width: 100%;
  height: fit-content;
  /* background-color: yellowgreen; */
  margin-top: 2rem;
  padding: 1rem 5rem;
}
.hero-title-info>h1{
  width: 60%;
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  font-family: Enfatica;
  margin-bottom: 3rem;
}
.hero-title-info>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title-info>div>div{
  display: flex;
  width: 50%;
  justify-content: center;
}
.hero-title-info>div>div>span{
  border: 1px solid #ff2c02;
  padding: 1rem;
  border-radius: 50px;
}
.hero-title-info>div>p{
  width: 50%;
  font-size: 1.1rem;
  font-weight: 800;
  text-align: justify;
}
.hero-title-info>h1>span{
  color: var(--xanthous);
  font-family: Enfatica;
}
.hero-title-info>div>p>a{
  border: 1px solid #ff2c02;
  border-radius: 50px;
  padding: 0.5rem  1rem;
  text-decoration: none;
  color: var(--scarlet);
  line-height: 5rem;
}

/* --------------------------------------------Work Section ------------------------------ */

.work-section{
  width: 100%;
  height: fit-content;
  /* background: #000; */
  display: flex;
  justify-content: center;
  padding: 0rem 5rem;
}
.work-section>div{
  width: 50%;
}
.work-section>div>h1{
  font-size: 8rem;
  font-family: Enfatica;
  line-height: 7.5rem;
}
.work-section>div>img{
  width: 400px;
}
.work-section>div>span{
  width: fit-content;
  border: 1px solid #ff2c02;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 16rem;
}
.work-section>div>p{
  margin-top: 2rem;
  width: 80%;
  font-size: 1.1rem;
  font-weight: 800;
  text-align: justify;
}
.work-section>div>a{
  border: 1px solid #ff2c02;
  border-radius: 50px;
  padding: 0.5rem  1rem;
  text-decoration: none;
  color: var(--scarlet);
  line-height: 5rem;
}

/* ------------------------------ Services Section ---------------------------------- */


.service-section{
  width: 100%;
  height: fit-content;
  padding: 2rem 5rem;
  margin-top: 5rem;
}
.service-section>h1{
  font-size: 8rem;
  font-family: Enfatica;
  line-height: 10rem;
  border-bottom: 1px solid #ff2c02;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-section>h2{
  font-size: 3rem;
  font-family: lato;
  line-height: 6rem;
  border-bottom: 1px solid #ff2c02;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-section>h2:first-of-type{
  margin-top: 2rem;
}
.service-section>h1>span{
  width: 100px;
  height: 100px;
  padding: 2rem;
  border: 1px solid #ff2c02;
  display: block;
  border-radius: 50%;
}


/* -----------------------------------------Footer Section ------------------------------------------- */

.footer{
  width: 100%;
  height: 40vh;
  /* background-color: var(--scarlet); */
  margin-top: 5rem;
  padding: 0rem 5rem;

}
.footer>.links{
  display: flex;
  gap: 3rem;
 
}
.footer>.links>a{
  text-decoration: none;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 50px;
  color: var(--scarlet);
  border: 1px solid var(--scarlet) ;
  margin-bottom: 2rem;
}
.contact-details>h3{
  font-size: 4rem;
  font-family: Enfatica;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.contact-details>a{
  text-decoration: none;
  color: #ff2c02;
  font-size: 1.2rem;
}





















/* Animation */


@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}





























@media (min-width: 320px) and (max-width: 600px) {
  .navbar {
    width: 100vw;
    /* padding: 2rem; */
  }
  .nav {
    width: 100%;
    /* display: block; */
  }
  .logo-menu {
    width: 100vw;
    gap: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo-menu {
    gap: 10rem;
    width: 100%;
    justify-content: space-between;
  }
  .logo-name {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .small-nav {
    height: 0%;
    overflow: hidden;
    transition: height 2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .small-nav.active {
    height: 90vh;
  }

  .small-nav {
    padding-left: 4rem;
    flex-direction: column;
    align-items: start;
  }
  .small-nav-links {
    padding-top: 4rem;
    gap: 2rem;
    width: 100%;
  }
  .small-nav-links > a {
    font-size: 2rem;
    width: 100%;
    letter-spacing: 0.2rem;
    font-weight: 900;
  }

  .tagline {
    padding-left: 0rem;
    width: 100%;
    gap: 2rem;
  }
  .tagline > h3 {
    text-align: left;
    font-size: 1rem;
  }
  .tagline > div > a {
    font-size: 0.8rem;
  }

  /* -----------------------------------Hero Section -------------------------------------- */

  .ticker-span {
    padding: 1rem 1.5rem 1rem 1.5rem;

  }
  
.main-title {
  font-size: 2rem;
}
  
.sub-title {
  color: #fff;
  font-family: Enfatica;
  font-size: 1rem;
  font-weight: 900;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1;
}
.hero{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 150vh;
}
.hero-title {
  padding: 2rem 1.5rem;
  height: fit-content;
}
.hero-title>img{
  display: none;
}
.hero-info-div{
  z-index: 2;
  gap: 0rem;
}
.hero-info-div>h1,.hero-info-div>h1>span{
  font-size: 2rem;
  letter-spacing: 0.4rem;
  line-height: 1.6rem;
}
.hero-info-div>p{
  width: 100%;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
}
.hero-img-section>img{
  z-index: 4;
  height: 25rem;
  top: -120%;
  right: 50%;
  transform: translate(50%,0%);
}

.hero-section-img-info-box{
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 2rem;
}

.hero-section-img-info-box>h1{
  font-size: 4rem;
  line-height: 3rem;
}
.hero-section-img-info-box>div>p{
  margin-bottom: 1rem;
}
.hero-section-img-info-box>div>div{
  padding: 1.5rem 0rem;
}
.hero-section-img-info-box>div>div>img{
  transform: rotate(90deg);
}
.hero-title-info {
  padding: 1rem 3rem;
}
.hero-title-info>h1 {
  font-size: 2rem;
  line-height: 2rem;
}
.hero-title-info>div {
  flex-direction: column;
}
.hero-title-info>div>p {
  width: 100%;
  font-size: 1rem;
}
.hero-title-info>div>div {
  width: 100%;
  justify-content: end;
  margin-bottom: 2rem;
}
/* ---------------------------------Work Section ----------------------------------- */

.work-section>div>h1 {
  width: 50%;
  font-size: 5rem;
  line-height: 4.5rem;
}
.work-section>div>img {
  width: 170px;
}
.work-section>div>img {
  width: 200px;
  position: absolute;
  top: -60px;
  right: 0;
}
.work-section {
  padding: 0rem 3rem;
  position: relative;
}
.work-section>div {
  width: 100%;
}


/* -----------------------------------Services Section ----------------------------------------- */
.service-section>h1 {
  font-size: 5rem;
  line-height: 5rem;
  border: none;
}
.service-section>h2 {
  font-size: 1rem;
  line-height: 3rem;
}
.service-section {
  padding: 0rem 3rem;
}

/* -----------------------------Footer ------------------------------------------------- */

.footer>.links {
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-details>h3 {
  font-size: 3rem;
}
.contact-details>a {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer {
  height: 50vh;
  padding: 0rem 2rem;
}
}
