@font-face {
  font-family: "aicon";
  src: url("../FOnts/aicon/AICON-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aicon";
  src: url("../FOnts/aicon/AICON-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "aicon";
  src: url("../FOnts/aicon/AICON-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "poppins-regular";
  src: url("../FOnts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../FOnts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --raisin-black: #22242eff;
  --majorelle-blue: #6745fdff;
  --aquamarine: #0be5baff;
  --tomato: #ff5f4aff;
  --orange-web: #ffa600ff;
  --dim-gray: #707070ff;
  --white: #ffffffff;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--raisin-black);
  color: var(--white);
  font-family: "poppins-regular";
  cursor: url("../Resources/icons/SVG/10x10-cursor.svg"), auto;
  overflow: hidden;
  position: relative;
}

.trail-image {
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none;
  transition: transform 0.1s ease-out, opacity 0.5s ease;
  will-change: transform, opacity;
  opacity: 0;
  /* Start hidden */
}

/* ---------------------------------Navbar Section -------------------------------------------- */
.navbar {
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  z-index: 9;
  animation: slideDown 1.5s ease forwards;
  animation-delay: 0.3s;
}

.navbar > h1 {
  font-size: clamp(
    0.6rem,
    0.1vw,
    1rem
  ); /* min 1rem, scales with viewport width, max 1.5rem */
  letter-spacing: 0.15rem;
  font-family: aicon;
}
.active-navlink {
  color: var(--tomato) !important;
}
.nav-links {
  display: none;
}
.large-nav-links {
  display: flex;
  gap: 5rem;
}
.large-nav-links > a {
  font-size: clamp(
    0.9rem,
    0.8vw,
    1.25rem
  ); /* min 0.9rem, scales, max 1.25rem */
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.15rem;
  transition: color 0.4s ease-in-out;
}
.large-nav-links > a:hover {
  color: var(--tomato);
}
.call-btn a {
  font-size: clamp(
    0.5rem,
    0.8vw,
    1.25rem
  ); /* min 0.9rem, scales, max 1.25rem */
  text-decoration: none;
  color: var(--white);
}
.call-btn {
  border-radius: 50px;
  padding: 0.2rem 1rem;
  border: 1px solid var(--tomato);
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-btn {
  display: none;
}
.call-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--tomato);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

/* --------------------------------Landing Section -------------------------------------------- */

.landing-page {
  width: 100%; /* full width of viewport */
  max-width: 1200px; /* optional max width for large screens */
  margin: 0 auto; /* center horizontally when max-width applies */
  height: calc(100vh - 5.0235rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.landing-page > img {
  width: 60rem;
  margin-left: 5rem;
  animation: slideUp 1.5s ease forwards;
}

.landing-page-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  animation: slideUp 1.5s ease forwards;
  animation-delay: 0.3s;
}
.landing-page-title > p {
  font-size: 0.8rem;
}

.landing-page-title > h1 {
  width: 40%;
  text-transform: capitalize;
}
.landing-page-arrow {
  border: 1px solid var(--white);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.landing-page-arrow > img {
  width: 3rem;
  animation: moveLeftRight 2s ease-in-out infinite;
  /* background-color: yellowgreen; */
}
.landing-page-arrow:hover > img {
  animation: none;
}

@media (max-width: 767px) {
  /* Styles for mobile phones and smaller tablets */
  .navbar {
    position: relative;
    z-index: 3;
  }
  .large-nav-links {
    display: none;
  }
  .navbar > h1 {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    letter-spacing: 0.15rem;
    width: 50%;
  }
  .open-btn {
    display: block;
    background-color: transparent;
    border: 0px;
  }
  .open-btn img {
    width: 1.2rem;
  }
  .call-btn {
    padding: 0.1rem 0.5rem;
    text-align: center;
  }
  .call-btn a {
    font-size: clamp(0.5rem, 1vw, 1.25rem);
  }

  .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--orange-web);
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem 2rem;
    width: 60vw;
    height: 100vh;
    align-items: end;
    z-index: 9;
  }
  .nav-links > a {
    text-decoration: none;
    color: var(--white);
  }
  .nav-links > button {
    background-color: transparent;
    border: 0px;
  }
  .nav-links > button > img {
    width: 1.2rem;
  }
  .hamburger-btn-section {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  /* ---------------------------------Landing Section ----------------------------------------- */
  .landing-page > img {
    width: 80vw;
  }

  .landing-page-title > p {
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
  }
  .landing-page-title > h1 {
    text-align: center;
    width: 80%;
    text-transform: capitalize;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
}

/* ---------------------------Animation Section ------------------------------------ */

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes moveLeftRight {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(80px);
  }
}
