@font-face {
    font-family: Golden;
    src: url("../FOnts/golden-girdle/Golden\ Girdle.otf");
  }
  @font-face {
    font-family: lato;
    src: url("../FOnts/lato/Lato-Regular.ttf");
  }
  @font-face {
    font-family: Enfatica;
    src: url("../FOnts/Enfatica.otf");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    --scarlet: #fe2500ff;
    --electric-indigo: #5901edff;
    --black: #000000ff;
    --white: #fefffeff;
    --xanthous: #febc47ff;
  }
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  .navbar {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    position: relative;
    z-index: 5;
    background-color: var(--white);
  }
  .nav {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
  }
  .logo-menu {
    width: fit-content;
    display: flex;
    gap: 4rem;
    cursor: pointer;
    /* background-color: yellowgreen; */
    align-items: center;
  }
  .logo-name {
    display: flex;
    width: 3rem;
    text-align: left;
  }
  .nav-logo-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .logo-name > span {
    /* padding-top: 1rem; */
    font-size: 3rem;
    line-height: 1rem;
    margin-right: 3px;
  }
  .logo-name > h1 {
    font-size: 1em;
  }
  .nav-links {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links > a > img {
    margin: 1rem;
  }
  .opacity {
    opacity: 0;
  }
  .nav-links > a {
    text-decoration: none;
    color: black;
    font-weight: 900;
  }
  .small-nav {
    z-index: 9;
    background-color: var(--white);
    width: 100vw;
    height: 300vh;
    overflow: hidden;
    position: fixed;
    top: 7rem;
    left: 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0rem 5rem;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .small-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    padding-top: 3rem;
  }
  .small-nav-links > a {
    text-decoration: none;
    color: black;
    /* font-family: Golden; */
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
  }
  .small-nav-links > a:hover{
    color: var(--xanthous);
  }
  .tagline {
    /* background-color: yellowgreen; */
    width: 50%;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .tagline > div > h3 {
    text-align: end;
    /* margin-bottom: 2rem; */
  }
  .tagline > div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .tagline > div > h4 {
    background-color: var(--xanthous);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: relative;
  }
  
  .tagline > div > h4::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 110%; /* Adjust horizontal position as needed */
    transform: translateY(-0%, -50%);
    rotate: 30deg;
    width: 150px;
    height: 50px;
    background-image: url("../Resources/icons/Arrow.svg"); /* Replace with your image path */
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tagline > div > a {
    /* text-decoration: none; */
    color: #ff2c02;
    text-align: start;
  }
  .menu-icon {
    background-image: url(../Resources/icons/open-menu\ icon.svg);
    width: 25px;
    height: 25px;
    transition: background-image 0.5s;
  }
  
  .menu-icon.active {
    background-image: url(../Resources/icons/close-menu\ icon.svg);
  }
  
  .small-nav {
    height: 0rem;
    overflow: hidden;
    transition: height 2s cubic-bezier(0.4, 0, 0.2, 1);
    /* Add your other styles here */
  }
  
  .small-nav.active {
    height: 90vh;
  }

  

/* --------------------------WORK SECTION -------------------------------------------------------- */